@include media('>large') {
  body {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@include media('>x-large') {
  main {
    @include box-shadow($secondaryColor 0px 3px 6px);
    margin: 0 auto;
    width: 1600px;
  }
}

/* PRIMARY */

@include media('>medium') {
  .primary {
    background-position: center center;
    height: 600px;
    .cta {
      h2 {
        font-size: 4rem;
        margin-top: 350px;
      }
    }
  }
}

@include media('>large') {
  .primary {
    height: 800px;
    // .cta {
    //   h2 {
    //     margin-top: 450px;
    //   }
    // }
  }
}

/* END PRIMARY */

/* TESTIMONIALS */

@include media('>medium') {
  .testimonials {
    display: table;
    margin: 0 auto;
    padding: 20px 0;
    width: 600px;
    .testimonial {
      float: left;
      text-align: center;
      width: 31%;
      img, p {
        float: none;
        margin: 0 auto;
        width: 90%;
      }
      .quote {
        margin: 15px 0;
      }
      .quote, .name, .title {
        text-align: center;
      }
    }
    .testimonial2 {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}

@include media('>large') {
  .testimonials {
    width: 900px;
    .testimonial {
      width: 25%;
    }
    .testimonial2 {
      margin-left: 12.5%;
      margin-right: 12.5%;
    }
  }
}

/* END TESTIMONIALS */

/* SERVICES */

@include media('>medium') {
  .service {
    height: 600px;
    .service-description {
      margin-top: 350px;
      margin-left: 60%;
      padding: 20px;
    }
  }
  .service1, .service3 {
    background-size: 150%;
  }
}

@include media('>large') {
  .service {
    height: 800px;
    .service-description {
      margin: 500px 0 0 60%;
      padding: 30px 10% 30px 30px;
    }
  }
  .service1 {
    background-size: 100%;
  }
}

@include media('>x-large') {
  .service {
    height: 1000px;
    .service1, .service2, .service3 {
      background-size: 100%;
    }
    .service-description {
      margin-top: 700px;
    }
  }
}

/* END SERVICES */

/* FOOTER */

@include media('>medium') {
  footer {
    .back-to-top {
      float: right;
      margin-right: 50px;
      margin-top: -60px;
    }
  }
}

/* END FOOTER */
